numpy  # weird dependency issues
scipy >= 1.6.0

# book stuff
jupyter-book
ghp-import
jupyterbook_latex
myst_nb
latex

# data science python stack
scikit-learn
graspologic
matplotlib >= 3.4.1

# grab graspologic directly from source
# must be public repo
git+https://github.com/neurodata/graphbook-code.git
