# book stuff
jupyter-book
ghp-import
jupyterbook_latex
sphinx-jupyterbook-latex
myst_nb
latex

# data science python stack
numpy  # weird dependency issues
scipy >= 1.6.0
scikit-learn >= 0.23.0
matplotlib >= 3.4.1

# grab graspologic + code directly from source
# must be public repo
git+https://github.com/loftusa/graspologic.git@dev
git+https://github.com/neurodata/graphbook-code.git
git+https://github.com/ebridge2/FisherExact.git
