# book stuff
jupyter-book
ghp-import
jupyterbook_latex
myst_nb
latex

# data science python stack
numpy
scikit-learn
graspologic
matplotlib >= 3.4.1

# grab graspologic directly from source
git+https://github.com/neurodata/graphbook-code.git